
body 
{ 
	background-image:url("../Images/background.jpg");
	background-repeat: repeat;
}

a 
{
	color: darkgreen;
	text-decoration: none;
	font-weight: bold;
}

a:hover 
{
	color: orange;
}

img 
{
	max-width:400px;
	width: 95%;
}

header 
{
	background: #fff;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid darkgreen;
	z-index: 100;
}

nav 
{
	float: left;
	padding: 10px;	
}

#menu-icon 
{
	display: hidden;
	width: 200px;
	height: 40px;
	background:#566 url(../Images/menu-icon.png);
}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 8px 8px 1 1;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: orange;
	text-decoration:underline;

}

section {

	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px

}

h1 {

	font-size: 2.2em;
	color: orange;
	line-height: 1.25em;
	margin: 20px 0 ;

}
h2,h3{
color: orange;
}
p {

	line-height: 1.25em;
	margin-bottom: 15px;
	color:darkgreen;

}

.slideshow p {
font-size: 1.50em;
	line-height: 1.25em;
	margin-bottom: 15px;
	color:darkgreen;
font-weight:bolder;
}
.slideshow
{
   /* position: relative;*/
  /*  max-width:95% auto;
	min-height:100%;*/
	z-index:1;
}

.slideshow img
{
    position: absolute;
	min-width:100%;
	min-height:100%;
	/*zoom:2;*/
    z-index:-1;
	/*border-width:5px;	
    border-style:double;
	border-color:darkgreen;*/
}

fieldset
{
max-width:80%;
min-width:240px;
border-color:orange;
}


#mainDiv{
margin:0 auto;
width: 1000px;
}

  #map-canvas {
        width: 800px;
        height: 400px;
		margin: 0 auto;
      }











/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {
#mainDiv{
width:95%;

}
	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;
		width: 200px;
	height: 40px;
	background :#666 url(../Images/menu-icon.png);
	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid orange;
		left: 20px;
		top: 30px;
		width: 50%;
		border-radius: 8px 8px 8px 8px;

	}

	nav li {

		text-align: left;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
	
	#map-canvas {
        width: 400px;
        height: 200px;
		margin: 0 auto;
      }